@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

.glass-container {
	position: relative;
}

.glass-container::before {
	@apply absolute -inset-[10px] -z-10 border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
	content: '';
}
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
